@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'knewave';
  src: url('/fonts/knewave.woff2') format('woff2'),
       url('/fonts/knewave.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu.woff2') format('woff2'),
       url('/fonts/Ubuntu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.spinner {
   --d: 24.6px;
   width: 4.5px;
   height: 4.5px;
   border-radius: 50%;
   color: #474bff;
   box-shadow: calc(1*var(--d))      calc(0*var(--d))     0 0,
          calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1.1px,
          calc(0*var(--d))      calc(1*var(--d))     0 2.2px,
          calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3.4px,
          calc(-1*var(--d))     calc(0*var(--d))     0 4.5px,
          calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5.6px,
          calc(0*var(--d))      calc(-1*var(--d))    0 6.7px;
   animation: spinner-a90wxe 1s infinite steps(8);
}

@keyframes spinner-a90wxe {
   100% {
      transform: rotate(1turn);
   }
}


.progress {
   width: 134.4px;
   height: 24.6px;
   border-radius: 22.4px;
   color: #f78839;
   border: 2.2px solid;
   position: relative;
}

.progress::before {
   content: "";
   position: absolute;
   margin: 2.2px;
   inset: 0 100% 0 0;
   border-radius: inherit;
   background: currentColor;
   animation: progress-pf82op 2s infinite;
}

@keyframes progress-pf82op {
   100% {
      inset: 0;
   }
}

.updown {
  transform: translateY(0);
  animation: upanddown 2s infinite;
}

@keyframes upanddown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

